@import "tailwindcss";

@font-face {
  font-family: iranNastaliq;
  src: url('./assets/fonts/IranNastaliq.ttf') format('truetype');
}
@font-face {
  font-family: PB;
  src: url('./assets/fonts/Persianold{@fontbartar}.ttf') format('truetype');
}
@font-face {
  font-family: iranKharazm;
  src: url('./assets/fonts/ir_kharazmi.ttf') format('truetype');
}

* {
  font-family: iranNastaliq;
}

.PersianFont{
  font-family: PB;
}
.RTL{
  direction: rtl;
}
.KharazmFont{
  font-family: iranKharazm;
}
.bgLegacy{
  background: url("./assets/oldWall.webp");
  /* background-repeat: no-repeat; */
  background-size: contain;
}
.test{
  mix-blend-mode: multiply;
}
.bgTransition{
  background: url("./assets/tape.webp");
  background-size: contain;
}
.bgText{
  background: url("./assets/old_paper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgOutro{
  background: url("./assets/bozorgDasht.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
